.container-full {
    position: relative;
    text-align: center;
    font-family: 'Source Sans Pro', serif;
    font-size: 22px;
}

.image1{
    height: 70%;
    width: 80%;
    background-image: url(/images/h_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}