.container-full {
    position: relative;
    text-align: center;
    font-family: 'Source Sans Pro', serif;
    font-size: 22px;
    padding-bottom: 20%;
}

.part1{
    height:40%;
    background-image: url(/images/h_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.headings{
    padding-top: 14px;
    background-color: white;
}
.about{
    margin-top: -30%;
}
#services{
    text-align: center;
    color: white;
    padding-bottom: 50px;
    padding-top: 10px;
    background-image: url("images/s_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.part3{
    display: flex;
    justify-content: space-around;

}
/* #design, #development, #product{
    display: none;

}    */
